In [105]:
import numpy as np
import pandas as pd
import pylab as pl
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
import subprocess
import pydot 
from IPython.display import Image
from IPython.core.display import HTML

In [106]:
df = pd.read_csv("ORGANICS.csv", encoding="cp1251")
print(df.shape) 
print(df.info())

(22223, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22223 entries, 0 to 22222
Data columns (total 13 columns):
ID                 22223 non-null int64
DemAffl            21138 non-null float64
DemAge             20715 non-null float64
DemCluster         21549 non-null float64
DemClusterGroup    21549 non-null object
DemGender          19711 non-null object
DemReg             21758 non-null object
DemTVReg           21758 non-null object
PromClass          22223 non-null object
PromSpend          22223 non-null float64
PromTime           21942 non-null float64
TargetBuy          22223 non-null int64
TargetAmt          22223 non-null int64
dtypes: float64(5), int64(3), object(5)
memory usage: 2.2+ MB
None

In [107]:
#1) Удаление Nan
df.dropna()

,ID,DemAffl,DemAge,DemCluster,DemClusterGroup,DemGender,DemReg,DemTVReg,PromClass,PromSpend,PromTime,TargetBuy,TargetAmt
0,140,10.0,76.0,16.0,C,U,Midlands,Wales & West,Gold,16000.00,4.0,0,0
1,620,4.0,49.0,35.0,D,U,Midlands,Wales & West,Gold,6000.00,5.0,0,0
2,868,5.0,70.0,27.0,D,F,Midlands,Wales & West,Silver,0.02,8.0,1,1
3,1120,10.0,65.0,51.0,F,M,Midlands,Midlands,Tin,0.01,7.0,1,1
4,2313,11.0,68.0,4.0,A,F,Midlands,Midlands,Tin,0.01,8.0,0,0
5,2771,9.0,72.0,28.0,D,U,North,N West,Platinum,20759.81,3.0,0,0
6,3131,11.0,74.0,3.0,A,F,Midlands,East,Tin,0.01,8.0,0,0
7,3328,13.0,62.0,32.0,D,M,North,N East,Tin,0.01,5.0,0,0
8,4529,10.0,62.0,49.0,F,M,Midlands,East,Silver,2038.76,3.0,0,0
10,7420,7.0,60.0,52.0,F,F,North,N East,Gold,11000.00,2.0,0,0
12,10006,9.0,51.0,52.0,F,F,Midlands,Midlands,Silver,300.00,11.0,0,0
13,10219,6.0,64.0,19.0,C,F,South East,S & S East,Tin,0.01,9.0,0,0
14,10812,16.0,37.0,18.0,C,F,South East,London,Tin,0.01,4.0,1,2
15,11207,8.0,54.0,28.0,D,M,Midlands,Midlands,Silver,1420.00,1.0,0,0
16,11932,5.0,70.0,15.0,B,F,Midlands,Midlands,Gold,6104.66,8.0,0,0
20,19496,9.0,66.0,49.0,F,F,Midlands,Midlands,Silver,500.00,12.0,0,0
21,19763,9.0,74.0,8.0,B,F,Midlands,Wales & West,Gold,6000.00,2.0,0,0
23,20761,7.0,66.0,30.0,D,M,South East,S & S East,Silver,1000.00,5.0,0,0
24,23124,6.0,46.0,27.0,D,F,South East,London,Tin,0.01,8.0,0,0
26,24880,7.0,75.0,12.0,B,M,Midlands,East,Silver,4000.00,7.0,0,0
28,27715,7.0,43.0,53.0,F,M,North,N West,Tin,0.01,5.0,1,1
29,29173,7.0,62.0,24.0,C,F,Midlands,Wales & West,Gold,20000.00,4.0,0,0
30,29440,8.0,37.0,5.0,B,M,South West,S West,Silver,1000.00,9.0,1,1
31,30600,9.0,49.0,48.0,F,F,South East,London,Tin,0.01,8.0,0,0
34,41092,3.0,50.0,35.0,D,F,Midlands,East,Gold,9800.00,3.0,0,0
36,42439,15.0,35.0,19.0,C,F,Midlands,Wales & West,Silver,1630.00,5.0,1,1
37,45799,10.0,71.0,14.0,B,F,Midlands,Wales & West,Silver,1500.00,5.0,0,0
38,46906,7.0,44.0,51.0,F,F,North,N West,Silver,1000.00,1.0,0,0
39,50237,8.0,42.0,15.0,B,M,North,N East,Tin,0.01,5.0,0,0
40,51950,9.0,68.0,8.0,B,F,South West,S West,Gold,6053.25,5.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22175,52758092,9.0,62.0,4.0,A,F,South East,London,Silver,5000.00,2.0,1,1
22176,52758513,6.0,61.0,22.0,C,F,Midlands,Wales & West,Silver,1000.00,5.0,1,1
22177,52759315,6.0,57.0,33.0,D,F,South East,London,Tin,0.01,5.0,0,0
22178,52763924,10.0,60.0,46.0,F,F,South West,S West,Gold,6000.00,2.0,1,1
22179,52767369,8.0,42.0,34.0,D,F,Midlands,Midlands,Silver,3000.00,3.0,1,1
22180,52768853,12.0,56.0,42.0,E,M,Midlands,Wales & West,Gold,6000.00,2.0,0,0
22183,52770459,8.0,79.0,5.0,B,F,Midlands,Wales & West,Gold,5500.00,9.0,0,0
22188,52779553,6.0,68.0,10.0,B,F,Scottish,N Scot,Silver,4000.00,17.0,0,0
22189,52780250,11.0,40.0,52.0,F,M,North,Yorkshire,Silver,3000.00,8.0,0,0
22190,52782201,3.0,44.0,14.0,B,F,Midlands,Midlands,Gold,12035.56,5.0,1,1
22191,52782970,7.0,41.0,34.0,D,M,North,N West,Silver,3400.00,1.0,0,0
22192,52783488,5.0,73.0,22.0,C,M,Scottish,Border,Gold,12000.00,12.0,0,0
22193,52783828,10.0,76.0,12.0,B,M,North,Yorkshire,Gold,9000.00,2.0,0,0
22197,52787300,10.0,71.0,9.0,B,M,South East,London,Gold,12000.00,30.0,0,0
22198,52791510,20.0,33.0,50.0,F,M,Midlands,East,Tin,0.01,5.0,1,3
22199,52795818,7.0,48.0,34.0,D,M,Midlands,Midlands,Tin,0.01,4.0,0,0
22200,52796997,4.0,51.0,4.0,A,U,South East,London,Silver,300.00,9.0,0,0
22203,52803667,7.0,32.0,26.0,C,F,South East,London,Silver,2500.00,5.0,1,1
22205,52806828,9.0,35.0,23.0,C,F,South East,S & S East,Silver,680.01,5.0,1,1
22206,52813255,15.0,31.0,21.0,C,F,South East,London,Tin,0.01,5.0,1,2
22208,52813468,14.0,33.0,48.0,F,M,South East,London,Tin,0.01,8.0,1,1
22209,52814480,7.0,41.0,23.0,C,M,South West,S West,Tin,0.01,8.0,1,2
22210,52815720,9.0,62.0,14.0,B,M,South East,London,Tin,0.01,8.0,0,0
22212,52820570,3.0,54.0,42.0,E,F,South East,S & S East,Platinum,23000.00,3.0,1,1
22213,52823242,14.0,43.0,25.0,C,M,Midlands,Midlands,Silver,3336.92,2.0,1,1
22216,52830893,13.0,49.0,8.0,B,M,South East,London,Silver,500.00,9.0,0,0
22218,52834058,13.0,65.0,9.0,B,F,South East,London,Silver,1500.00,5.0,0,0
22219,52834376,15.0,73.0,34.0,D,U,South East,S & S East,Gold,6053.06,12.0,0,0
22220,52837057,9.0,70.0,15.0,B,F,North,Yorkshire,Gold,6000.00,5.0,0,0
22221,52838096,11.0,66.0,8.0,B,F,North,N West,Silver,5000.00,5.0,0,0

In [108]:
#2) Замена Nan усредненными значениями
df = df.fillna(df.mean())

In [109]:
#3) Замена Nan наиболее часто встречаемыми значениями
df = df.fillna(df.mod)

In [110]:
x = df[['DemAffl',  'DemAge', 'DemCluster', 'PromSpend', 'PromTime']]
y = df.values[::,11]
y = y.astype('int')

In [111]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
tree=DecisionTreeClassifier(max_depth=4, random_state=0)
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [112]:
export_graphviz(tree, out_file='result/Organics_tree.dot', 
               rounded = True, proportion = False, 
                precision = 2, filled = True)

In [113]:
(graph, ) = pydot.graph_from_dot_file('result/Organics_tree.dot')

graph.write_png('result/Organics_tree.png')

In [114]:
tree.score(X_train, y_train)

0.8045127282077655

In [115]:
tree.score(X_test,y_test)

0.8005099745012749

In [116]:
#Задание 1

X_train2, X_test2, y_train2, y_test2 = train_test_split(x, y, test_size=0.3)
dtree2 = DecisionTreeClassifier(max_depth = 5, criterion = 'entropy', min_samples_leaf = 1)
dtree2.fit(X_train2, y_train2)

export_graphviz(dtree2, out_file='result/task1.dot', 
                rounded = True, proportion = False, 
                precision = 2, filled = True)
(graph, ) = pydot.graph_from_dot_file('result/task1.dot')

graph.write_png('result/task1.png')

In [117]:
dtree2.score(X_train2,y_train2)

0.8030984829004886

In [118]:
dtree2.score(X_test2,y_test2)

0.8029098545072746

In [119]:
npData = np.zeros((5,5),dtype=float)
for y in range(1,6):
    for x in range(1,6):
        tree=DecisionTreeClassifier(max_depth = y, min_samples_leaf = x)
        tree.fit(X_train, y_train)
        npData[y-1,x-1]=tree.score(X_train, y_train)
        
df = pd.DataFrame(data=npData, index=["1", "2", "3", "4", "5"],columns=["1", "2", "3", "4", "5"])

In [120]:
df

          1         2         3         4         5
1  0.763885  0.763885  0.763885  0.763885  0.763885
2  0.788442  0.788442  0.788442  0.788442  0.788442
3  0.800720  0.800720  0.800720  0.800720  0.800720
4  0.804513  0.804513  0.804513  0.804513  0.804513
5  0.805156  0.805156  0.805156  0.804963  0.805156

#Задание 2 (Титаник)
df = pd.read_csv('titanic.csv', encoding="cp1251")
df.info()

In [121]:
df = pd.read_csv('titanic.csv', encoding="cp1251")
df

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583
6,0,1,Mr. Timothy J McCarthy,male,54.0,0,0,51.8625
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708
10,1,3,Miss. Marguerite Rut Sandstrom,female,4.0,1,1,16.7000
11,1,1,Miss. Elizabeth Bonnell,female,58.0,0,0,26.5500
12,0,3,Mr. William Henry Saundercock,male,20.0,0,0,8.0500
13,0,3,Mr. Anders Johan Andersson,male,39.0,1,5,31.2750
14,0,3,Miss. Hulda Amanda Adolfina Vestrom,female,14.0,0,0,7.8542
15,1,2,Mrs. (Mary D Kingcome) Hewlett,female,55.0,0,0,16.0000
16,0,3,Master. Eugene Rice,male,2.0,4,1,29.1250
17,1,2,Mr. Charles Eugene Williams,male,23.0,0,0,13.0000
18,0,3,Mrs. Julius (Emelia Maria Vandemoortele) Vande...,female,31.0,1,0,18.0000
19,1,3,Mrs. Fatima Masselmani,female,22.0,0,0,7.2250
20,0,2,Mr. Joseph J Fynney,male,35.0,0,0,26.0000
21,1,2,Mr. Lawrence Beesley,male,34.0,0,0,13.0000
22,1,3,Miss. Anna McGowan,female,15.0,0,0,8.0292
23,1,1,Mr. William Thompson Sloper,male,28.0,0,0,35.5000
24,0,3,Miss. Torborg Danira Palsson,female,8.0,3,1,21.0750
25,1,3,Mrs. Carl Oscar (Selma Augusta Emilia Johansso...,female,38.0,1,5,31.3875
26,0,3,Mr. Farred Chehab Emir,male,26.0,0,0,7.2250
27,0,1,Mr. Charles Alexander Fortune,male,19.0,3,2,263.0000
28,1,3,Miss. Ellen O'Dwyer,female,24.0,0,0,7.8792
29,0,3,Mr. Lalio Todoroff,male,23.0,0,0,7.8958
...,...,...,...,...,...,...,...,...
857,0,2,Mr. Frederick Edward Giles,male,21.0,1,0,11.5000
858,1,1,Mrs. Frederick Joel (Margaret Welles Barron) S...,female,48.0,0,0,25.9292
859,0,3,Miss. Dorothy Edith Sage,female,14.0,8,2,69.5500
860,0,2,Mr. John William Gill,male,24.0,0,0,13.0000
861,1,2,Mrs. (Karolina) Bystrom,female,42.0,0,0,13.0000
862,1,2,Miss. Asuncion Duran y More,female,27.0,1,0,13.8583
863,0,1,Mr. Washington Augustus II Roebling,male,31.0,0,0,50.4958
864,0,3,Mr. Philemon van Melkebeke,male,23.0,0,0,9.5000
865,1,3,Master. Harold Theodor Johnson,male,4.0,1,1,11.1333
866,0,3,Mr. Cerin Balkic,male,26.0,0,0,7.8958
867,1,1,Mrs. Richard Leonard (Sallie Monypeny) Beckwith,female,47.0,1,1,52.5542
868,0,1,Mr. Frans Olof Carlsson,male,33.0,0,0,5.0000
869,0,3,Mr. Victor Vander Cruyssen,male,47.0,0,0,9.0000
870,1,2,Mrs. Samuel (Hannah Wizosky) Abelson,female,28.0,1,0,24.0000
871,1,3,Miss. Adele Kiamie Najib,female,15.0,0,0,7.2250
872,0,3,Mr. Alfred Ossian Gustafsson,male,20.0,0,0,9.8458
873,0,3,Mr. Nedelio Petroff,male,19.0,0,0,7.8958
874,0,3,Mr. Kristo Laleff,male,23.0,0,0,7.8958
875,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,female,56.0,0,1,83.1583
876,1,2,Mrs. William (Imanita Parrish Hall) Shelley,female,25.0,0,1,26.0000
877,0,3,Mr. Johann Markun,male,33.0,0,0,7.8958
878,0,3,Miss. Gerda Ulrika Dahlberg,female,22.0,0,0,10.5167
879,0,2,Mr. Frederick James Banfield,male,28.0,0,0,10.5000
880,0,3,Mr. Henry Jr Sutehall,male,25.0,0,0,7.0500
881,0,3,Mrs. William (Margaret Norton) Rice,female,39.0,0,5,29.1250
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

In [123]:
x = df[['Pclass',  'Age', 'Siblings/Spouses Aboard', 'Parents/Children Aboard']]
y = df.values[::,0]
y = y.astype('int')

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
tree = DecisionTreeClassifier(max_depth=3, random_state=1)
tree.fit(X_train, y_train)
export_graphviz(tree, out_file='result/task2.dot', 
               rounded = True, proportion = False, 
                precision = 2, filled = True)

(graph, ) = pydot.graph_from_dot_file('result/task2.dot')

graph.write_png('result/task2.png')

In [124]:
print(tree.score(X_train, y_train))

0.7112903225806452

In [125]:
print(tree.score(X_test, y_test))

0.6928838951310862

In [126]:
#Задание 3

a. Решающее правило — некоторая функция от объекта, позволяющее определить, в какую из дочерних вершин нужно поместить рассматриваемый объект. В листовых вершинах могут находиться разные объекты: класс, который нужно присвоить попавшему туда объекту (в задаче классификации), вероятности классов (в задаче классификации), непосредственно значение целевой функции (задача регрессии).
 
 Чтобы построить прогноз нужно определить в какой потомок из корня попадет наш объект, а после запустить рекурсивный процесс.
 
b. Для прохождения от корня дерева до листьев.
прим: возраст == 40

c. дерево, в каждом листе которого находится ровно по одному объекту выборки будет переобученным и неподходящим для новых данных.

d. это замедляет выполнение

e. он стремится выполнить каждую часть кода с наименьшими затратами времени/памяти

f. для выбора оптимального разбиения при построении дерева